body {
    text-align: center;
    font-family: 'Arial';
    background: rgb(247, 226, 255);
    color: black;
}

h1 {
    margin: 20px 0 10px;
    font-weight: bold;
    background: rgb(247, 226, 255);
    color: purple;
}

h2 {
    margin: 20px 0 10px;
    font-weight: bold;
    background: rgb(247, 226, 255);
    color: black;

h3 {
    margin: 20px 0 10px;
    color: black;
    background: rgb(247, 226, 255);
}

